.main {
  background-color: white;
  border-radius: 15px;

  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
  }
}
